@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-primary-light: #ff2e31;
    --color-primary: #E32a2e;
    --color-primary-dark: #bd2225;
    --color-secondary: #0F172A;
    --color-secondary-light: #1E293B;
    --color-success:#00B74A;
    --color-info:#1266F1;
    --color-danger:#D50000;
    --color-warning:#FFA900;
    --color-useful: #14B8A6;
     /* ... */
}
html {
    scroll-behavior: smooth;
}

.navbar-transparent {
    @apply bg-white text-primary shadow-w1 lg:bg-transparent lg:text-white lg:shadow-none
}

.navbar-transparent ul li,
.navbar-transparent .btn-login {
    @apply lg:text-white;
}
.navbar-transparent .btn-login {
    @apply lg:border-white;
}

.navbar-dark {
    @apply lg:bg-white lg:text-secondary lg:shadow-w1;
}

.navbar-dark ul li,
.navbar-dark .btn-login {
    @apply lg:text-secondary;
}
.navbar-dark .btn-login {
    @apply lg:border-secondary;
}




.tab ul li.active    {
    @apply border-b-4 border-primary-light;

}

.whujo-brand {
    @apply text-primary font-bold;
    font-family:arial;
}

.btn {
    @apply inline-flex items-center justify-center px-5 py-3 border border-transparent  text-base font-medium rounded-md;
}

.btn-circle {
    @apply inline-flex items-center justify-center border text-base font-medium rounded-full;
}

.toggle-check:checked {
    @apply border-success;
}

.toggle-check:checked+.toggle-label {
    @apply opacity-100;
}

.toggle-checkbox:checked {
    @apply right-0 border-green-400;
}

.toggle-checkbox:checked+.toggle-label {
    @apply bg-green-400;
}

.transition-75 {
    @apply transition duration-75 ease-in-out
}
.transition-100
 {
    @apply transition duration-100 ease-in-out
}
.transition-150
 {
    @apply transition duration-150 ease-in-out
}
.transition-200 {
    @apply transition duration-200 ease-in-out
}
.transition-300 {
    @apply transition duration-300 ease-in-out
}
.transition-500 {
    @apply transition duration-500 ease-in-out
}
.transition-700 {
    @apply transition duration-700 ease-in-out
}
.transition-1000 {
    @apply transition duration-1000 ease-in-out
}


.step-list {
    @apply flex flex-col space-y-1;
}

.step-list-item {
    @apply p-4 rounded-md hover:bg-white text-secondary transition-500;
}

.step-list-item > a {
    @apply flex space-x-4 items-start opacity-70 lg:opacity-30 lg:hover:opacity-80;
}

.step-list-item.active > a {
    @apply opacity-100 font-semibold;
}

.step-list-item:active,
.step-list-item:active > a {
    @apply bg-white opacity-100;
}

.step-list-item > a .icon {
    @apply h-5 w-auto transition-500;
}
