/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --color-primary-light: #ff2e31;
    --color-primary: #e32a2e;
    --color-primary-dark: #bd2225;
    --color-secondary: #0f172a;
    --color-secondary-light: #1e293b;
    --color-secondary-dark: #1e293b;
    --color-success: #00b74a;
    --color-info: #1266f1;
    --color-danger: #d50000;
    --color-warning: #ffa900;
    --color-useful: #14b8a6;
    /* ... */
}

html {
    scroll-behavior: smooth;
}

.navbar-transparent {
    @apply text-white bg-white shadow-2xl lg:bg-transparent lg:text-white lg:shadow-none;
}

.navbar-transparent ul li,
.navbar-transparent .btn-login {
    @apply lg:text-white;
}
.navbar-transparent .btn-login {
    @apply lg:border-white;
}

.navbar-dark {
    @apply lg:bg-white lg:text-secondary lg:shadow-2xl;
}

.navbar-dark ul li,
.navbar-dark .btn-login {
    @apply lg:text-secondary lg:bg-transparent;
}
.navbar-dark .btn-login {
    @apply lg:border-secondary;
}

.tab ul li.active {
    @apply border-b-4 border-primary-light;
}

.whujo-brand {
    @apply font-bold text-primary;
    font-family: arial;
}

.btn {
    @apply inline-flex items-center justify-center px-5 py-3 text-base font-medium border border-transparent rounded-md;
}

.btn-circle {
    @apply inline-flex items-center justify-center text-base font-medium border rounded-full;
}



.toggle-check:checked {
    @apply border-success;
}

.toggle-check:checked + .toggle-label {
    @apply opacity-100;
}



.toggle-checkbox:checked {
    @apply transform translate-x-full border-green-400;
}

.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
}


.toggle-radio:checked + .toggle-label {
    @apply text-white bg-secondary;
}

#productType {
    @apply h-36;
}

input[name="search"]:focus + #productType {
    @apply h-20 transition-all duration-200 ease-linear;
}

.transition-75 {
    @apply transition duration-75 ease-in-out;
}
.transition-100 {
    @apply transition duration-100 ease-in-out;
}
.transition-150 {
    @apply transition duration-150 ease-in-out;
}
.transition-200 {
    @apply transition duration-200 ease-in-out;
}
.transition-300 {
    @apply transition duration-300 ease-in-out;
}
.transition-500 {
    @apply transition duration-500 ease-in-out;
}
.transition-700 {
    @apply transition duration-700 ease-in-out;
}
.transition-1000 {
    @apply transition duration-1000 ease-in-out;
}

.step-list {
    @apply flex flex-col space-y-1;
}

.step-list-item {
    @apply p-4 transition duration-500 ease-in-out rounded-md hover:bg-white text-secondary;
}

.step-list-item > a {
    @apply flex items-start space-x-4 opacity-70 lg:opacity-30 lg:hover:opacity-80;
}

.step-list-item.active > a {
    @apply font-semibold opacity-100;
}

.step-list-item:active,
.step-list-item:active > a {
    @apply bg-white opacity-100;
}

.step-list-item > a .icon {
    @apply w-auto h-5 transition duration-500 ease-in-out;
}

.radio-buttom > input[type="radio"]:checked + span {
    @apply opacity-100;
}

